* {
    margin:0;
    padding:0;
}


body {
    background-color: #f3e5d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.container {
    width: 100%;
    max-width: 520px;
    height:auto;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: flex-start;
    padding: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header img {
    width: 480px;
    height: 200px;
    border: 1px solid white;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}

h1 {
    width: 100%;
    text-align:left;
    font-family: 'young serif', serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px
}

.container p {
    font-family: 'outfit', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #a1a1a1;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.preparation {
    width: 480px;
    height:fit-content;
    background-color: #fff7fc;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
}

h2 {
    font-family: 'outfit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: hsl(332, 51%, 32%);
}

.preparation ul {
    list-style: disc;
    list-style-position: inside; 
}

.bold-text {
    font-weight: bold;
    color: hsl(24, 5%, 18%); }
 
.preparation ul li {
    font-family: 'outfit', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 8px;
}

.preparation ul li::marker {
    color:hsl(332, 51%, 32%);
}

.ingredients {
    padding-bottom: 15px;
    padding-left: 10px;
}

.ingredients p {
    margin-top: 20px;
    font-family: 'young serif', serif;
    color: hsl(14, 45%, 36%);
    font-weight: 500;
    font-size: 25px;
}

.ingredients ul {
    list-style-type: disc;
    list-style-position: inside;
}

.ingredients ul li {
    font-family: 'outfit', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(30, 10%, 34%);
    padding-bottom: 10px;
}

.ingredients ul li::marker {
    color: hsl(14, 45%, 36%);
}

.instructions {
    padding-left: 10px;
}

.instructions h3 {    
    font-family: 'young serif', serif;
    color: hsl(14, 45%, 36%);
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.instructions ol {
    list-style: none;
    padding: 0;
    counter-reset: step;
    margin:0;
}

.instructions li {
    font-family: 'outfit', sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
    padding-left: 30px;
    counter-increment: step;
    position: relative;
    line-height: 1.5;
}

.instructions li::before {
    content: counter(step) ".";
    color:hsl(14, 45%, 36%);
    margin-right: 8px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}

.instructions li strong {
    color:hsl(24, 5%, 18%);
}


#nutrion {    
    font-family: 'young serif', serif;
    color: hsl(14, 45%, 36%);
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 20px}

#fillings {
    font-family: 'outfit', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(30, 10%, 34%);
    margin-bottom: 10px;
}

.nutrition-table {
    border-collapse: collapse;
    width: 520px;
    font-family: 'outfit', sans-serif;
    font-size:12px;
    margin-bottom:20px;
}

.nutrition-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.nutrition-table td:first-child {
    color: #666;
    text-indent:1em;
}

.nutrition-table td:last-child {
    text-align: left;
    font-weight: bold;
    color:hsl(14, 45%, 36%);
}

